@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }
}

.checkGroup:checked + .paragraph,
.radioGroup:checked + .paragraph {
  border: 1px solid #d84343;
}

.react-datepicker__header {
  background-color: #ffffff !important;
}

.react-datepicker-popper .react-datepicker {
  font-family: Inter, sans-serif;
  color: #101828 !important;
  border-color: #101828 !important;
}

.react-datepicker-popper .react-datepicker__triangle {
  stroke: #475467 !important;
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #101828 !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #101828 !important;
}

.react-datepicker__day-names {
  padding: 10px 0;
}

.react-datepicker__day-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #475467 !important;
}

.react-datepicker__day {
  color: #101828 !important;
}

.react-datepicker__day:hover {
  background-color: #475467 !important;
  color: #f7f7f7 !important;
  border-radius: 50% !important;
}

.react-datepicker__day--today {
  background-color: #475467 !important;
  color: #f7f7f7 !important;
  border-radius: 50% !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #475467 !important;
  color: #f7f7f7 !important;
  border-radius: 50% !important;
}

.react-datepicker__day--in-range {
  background-color: #475467 !important;
  color: #f7f7f7 !important;
  border-radius: 50% !important;
}

.react-datepicker__day--select-start,
.react-datepicker__day--select-end {
  background-color: #475467 !important;
  color: #f7f7f7 !important;
  border-radius: 50% !important;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
  color: #475467 !important;
}
